body {
  background-color: #6F95A3;
  margin:0;
  color: #48525c;
  font-family: 'Ubuntu', sans-serif;
}

#phone {
  background-image: url('../img/iphone.png');
  min-width: 384px;
  max-width: 384px;
  min-height: 768px;
  max-height: 768px;
  background-size: cover;
  margin: 0 auto;
  padding-top: 135px;
  padding-left: 33px;
  padding-right: 29px;
  padding-bottom: 150px;
	position: relative;
  z-index: 6;
}

.splash-background {
  max-width: 280px;
  min-height: 350px;
  position: relative;
  overflow: hidden;
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url('../img/habit_image.jpg') no-repeat;
  background-size: contain;
  border-radius: 30px;
}

#slogan h3 {
  color: white;
  font-size: 40px;
  padding: 3px;
}

.main-header {
  background-image: linear-gradient(#D1E0E6 95%, #6F95A3);
  background-color: #D1E0E6;
  min-height: 53px;
	z-index: 3;
}

.main-header span {
  color: #48525c;
  font-size:26px;
  z-index: 3
  position: fixed;
}

#nav img {
 float: right;
 max-width: 100px;
 max-height: 60px;
 border-radius: 5px;
 margin-top: -28px;
}

#nav {
  max-width: 400px;
  margin: 0;
  z-index: 3
  position: fixed;
}

.dropdown {
	min-height: 45px;
}

#dLabel {
	max-height: 38px;
}

ul li {
  background-color:transparent;
  color:white;
}

header span {
  color:white;
  font-size:26px;
}

h1 {
  font-size:90px;
  color:white;
}

h2 {
  font-size:53px;
}

h3 {
  font-size:25px;
}

p {
  font-size: 20pt;
}

#insphoto {
  max-height: 300px;
  max-width: 180px;
  z-index: -1;
}

#insphoto2 {
  max-width: 200px;
  max-height: 150px;
  z-index: -1;
}

#inspMessage {
  color: #48525c;
  font-size: 20px;
  list-style: none;
}

.content {
	position: relative;
	z-index: 5;
}

.dashboard {
	position: absolute;
  text-align:center;
	min-width: 80%;
	max-height: 380px;
	margin: 20px;
  overflow-y: auto;
	z-index: -1
}


.t-border {
   border-top: 2px solid lightgrey;
}

.form-control {
  background-color: #D1E0E6;
  color: #48525c;
	z-index: -1;
}

label {
  font-size: 15pt;
}

.main-sidebar {
	position: absolute;
  padding-left: 316px;
  z-index: 4;
}

#socialList {
	position: absolute;
  list-style: none;
	border-left: solid 7px orange;
  z-index: 4;
}

#socialList a {
  opacity: 0;
}

#newReminder {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  padding: 3px;
}

#inspireMessage {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  padding: 3px;
}
